@font-face {
  font-family: gameFont;
  src: url('../fonts/PressStart2P.ttf');
}
*{
  box-sizing: border-box;
}
body{
  background-image: url('../image/background.jpg');
  background-size: cover;
  overflow: hidden;
}
div[class^='col-'] {
  display: inline-flex;
  flex-direction: column;
  flex-flow: column;
  height: 100%;
  width: 14.28571428571429%;
}
.main-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100vh !important;
}
.main-titulo{
  font-family: gameFont;
  font-size: 3em;
  color: #DCFF0E;
  width: 65%;
  height: 8vh;
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
  animation-name: kf-brightness;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-duration: 2.5s;
}
.panel-tablero{
  width: 65%;
  border: 10px solid #E87306;
  background: rgba(232, 115, 6, 0.5);
  border-radius: 5px;
  height: 75vh;
  display: flex;
  flex-flow: row wrap;
}
.panel-score{
  width: 25%;
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.score, .moves, .time{
  text-align: center;
  height: 20%;
  width: 100%;
  border: 10px solid #E87306;
  border-radius: 5px;
  background: rgba(232, 115, 6, 0.5);
}
.buttons{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.data-titulo, .data-info{
  font-family: gameFont;
  color: #E8CA06;
}
.data-titulo{
  margin: 1.5vh 0 !important;
  font-size: 1.5em;
}
.data-info{
  font-size: 1.4em;
}
.titulo-over{
  font-family: gameFont;
  font-size: 3em;
  text-align: center;
  color: #DCFF0E;
}
.btn-reinicio{
  background: #E8CA06;
  border: 6px solid #FFB206;
  border-radius: 5px;
  font-family: gameFont;
  font-size: 1.2em;
  color: #FF4007;
}
.btn-reinicio:hover{
  color: #fff;
  cursor: pointer;
}
.btn-reinicio:active{
  font-size: 1em;
}
.candy-content {
  width: 100%;
  height: 100%;
}
.candy {
  position: relative;
  width: 80%;
  height: 11.29%;
  margin: 1vh .8vw !important;
  animation-name: kf-SlideDown;
  animation-duration: .75s;
  animation-fill-mode: backwards;
  transition: transform .8s;
}
.destroyCandy {
  animation-name: kf-destroying;
  animation-duration: 1.8s;
  animation-fill-mode: backwards;
  opacity: 0;
}

@keyframes kf-brightness {
  0% {
    color: rgb(255, 255, 255);
  }
  40% {
    color: #DCFF0E;
  }
  70% {
    color: rgb(130, 133, 2);
  }
  100% {
    color: rgb(255, 191, 14);
  }
}
@keyframes kf-SlideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes kf-destroying {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  10% {
    opacity: .1;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: .1;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: .1;
    transform: scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: .1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}